/* 商品详情样式 */
/* 基本信息盒子 */
.box {
    margin-top: 20px !important;
    padding-top: 10px;
    overflow: hidden;
}
.basic-info {
    padding-left: 30px;
    margin-bottom: 10px;
}
/* 放照片的盒子 */
.item-info-img {
    float: left;
    width: 370px;
    height: 530px;
}

.item-info-img img {
    width: 350px;
    height: 500px;
}

/* 存基本信息的盒子 */
.item-introduction {
    float: left;
}

/* table的样式 */
table{
    /*margin-top: 40px;*/
    width: 800px;
    border-collapse: collapse;
    border: solid;
}
th {
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e3e3e3;
}
td {
    padding: 0 5px 0 5px;
    text-align: left;
    width: 80px;
}

.left-col {
    padding: 0 5px 0 5px;
    text-align: center;
}

tr td,tr th{
    border-bottom: 1px solid #221e1f;
}

.item-introduction table tr td span{
    color: #ff7c2d;
}

/* 添加购物车按钮样式 */
.item-introduction button {
    margin-top: 15px;
    width: 120px;
    height: 35px;
    font-size: 15px;
    border-radius: 5%;
}

.item-introduction button:hover {
    color: #e8e6e3;
    text-decoration: underline;
}