*{
	margin: 0;
	padding: 0;
}

/* 按钮样式 */
.submit-btn {
    background-color: #4cc6f7;
    color: black;
    border: 0px;
    cursor: pointer;
}
.cancel-btn {
    background-color: #f1f1f1;
    color: black;
    border: 0px;
    cursor: pointer;
}