* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

/* 广告栏样式 */
.banner {
    height: 421px;
    background-color: #ffffff;
}

.banner .w img{
    height: 100%;
    width: auto;
}