body {
    background-size: cover;
    background: url(../img/works/large/005010.jpg) no-repeat fixed center;
}

.login-div {
    /* 表单水平居中 */
    margin: 15% auto;
    padding: 30px 0;
    width: 40%;
    background-color: rgba(255, 237, 237, 0.7);
    border-radius: 2%;
}

.login-div h3 {
    margin: 0 10%;
    font-size: 25px;
}

.login-div .info {
    width: 40%;
    margin: 0 auto;
    overflow: hidden;
    color: rgb(74, 72, 72);
}

.info div {
    float: right;
    padding: 0 3px;
    font-size: 14px;
}

.login-div .info a {
    color: rgb(74, 72, 72);
    text-decoration: none;
}

.login-div .info a:hover {
    color: #e8e6e3;
}

.login-div table {
    /* 居中 */
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    border-spacing: 0 10px;
    line-height: 50px;
}

table input {
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
    width: 200px;
}

/* 按钮样式 */
.login-div button {
    width: 80px;
    height: 30px;
}