body {
    background: url(../img/rotation3.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-btn {
    width: 100px;
    height: 30px;
    border-radius: 10%;
}