/* 登录前导航栏样式 */
/* 导航栏盒子整体 */
.top {
    height: 40px;
    background-color: #262a2b;
    line-height: 40px;
}

/* 左侧导航父盒子 */
.left {
    /* 左侧浮动 */
    float: left;
    width: 500px;
    font-weight: 700;
    color: #fffcff;
}

/* 左侧导航子盒子 */
.left .welcome {
    margin-left: 50px;
    float: left;
}
.left .name {
    float: left;
    margin: 0 15px 0;
}
.left a {
    display: block;
    float: left;
    text-align: center;
    color: #fffcff;
    text-decoration: none;
}

/* 右侧导航父盒子 */
.right {
    /* 右侧浮动 */
    float: right;
    width: 400px;
    color: #b6b0a6;
    font-size: 14px;
    /* 清除默认样式 */
    list-style: none;
}

/* 右侧导航子盒子 */
.right a {
    /* 设置为块元素 */
    display: block;
    /* 清除默认样式 */
    text-decoration: none;
    color: #b6b0a6;
    /* 右侧浮动 */
    float: left;
    /* 添加内边距 */
    padding: 0 18px 0;
}

/* 设置伪类样式 */
.right a:hover {
    color: #e8e6e3;
    text-decoration: underline;
}

/* 登录后导航栏样式 */



/* 版心居中对齐 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 清除默认样式 */
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* 头部盒子 */
.header {
    height: 25px;
    /* 这里会层叠w的margin */
    margin: 5px auto;
}

/* logo样式 */
.logo {
    float: left;
    width: 198px;
    height: 25px;
}
.logo img{
    height: 25px;
}

.nav {
    float: left;
    margin-left: 40px;
}

/* nav的li加浮动 */
.nav ul li {
    float: left;
    margin: 0 15px;
}

/* 块级元素a */
.nav ul li a {
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 18px;
    color: #050505;
}

/* hover样式 */
.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

/* 搜索模块 */
.search {
    float: left;
    margin-left: 70px;
    width: 412px;
    height: 25px;
}

/* 输入框样式 */
.search input {
    float: left;
    padding-left: 15px;
    width: 345px;
    height: 25px;
    border: 1px solid #00a4ff;
    border-right: none;
    /* 字体样式 */
    font-size: 14px;
    color: #bfbfbf; 
    line-height: 40px;
}

/* 按钮样式 */
.search button {
    float: left;
    border: #b6b0a6 1px solid;
    width: 27px;
    height: 27px;
    background: url(../img/search.png);
    background-size: 100% 100%;
}