/* 设置定位与样式 */
.page {
    margin: 0 auto 35px;
    text-align: center;
    background-color: #efefef;
}

.page button {
	border: none;
	padding:4px 10px 5px;
	font-size:20px;
}
.page button:nth-child(3), .page-icon button:nth-child(4) {
	cursor: default;
}
.page button img {
	width: 15px;
	height: 15px;
    cursor: pointer;
}
#totalPage, #currentPage {
	cursor: default;
	border: none;
	background-color: #efefef;
	padding:4px 10px 5px;
	font-size:20PX;
}
#currentPage {
	cursor: auto;
	text-align: center;
	width: 40px;
}