.box {
    background-color: #eae8eb;
    padding: 40px 0;
}

.upload-modify {
    background-color: #fffcff;
    border-radius: 30px;
    overflow: hidden;
}

/* 顶部信息 */
.upload-modify-head {
    overflow: hidden;
    border-bottom: #e6e6e6 1px solid;
}
.upload-modify-head h3 {
    float: left;
    margin: 0 25px;
    color: #3c3c3c;
    line-height: 80px;
}

/* 表单div */
.upload-modify .form-div {
    margin: 5px 20px;
    padding-top: 18px;
    width: 95%;
    background-color: #f5f5f5;
    /*background-color: #00a4ff;*/
}

/* 除图片外的元素 */
.upload-modify .form-div .form-info {
    float: left;
    overflow: hidden;
    /*background-color: pink;*/
}

.form-div .form-item {
    /*width: 100%;*/
    height: 50px;
}
/* 选项文字 */
.form-div .form-item .item-label {
    float: left;
    margin: 5px 10px;
    width: 150px;
    text-align: center;
}

/* 选项输入框 */
.form-div .form-item .item-input {
    float: left;
    margin: 5px 10px;
    height: 40px;
}
.form-div .form-item .item-input input {
    width: 400px;
    height: 25px;
}
.form-div .form-item .item-input select {
    width: 400px;
    height: 25px;
}

/* 选项错误提示 */
.form-div .form-item .item-message {
    float: left;
    margin: 5px 10px;
}

/* 图片预览盒子 */
.upload-modify .form-div .form-img {
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    /*background-color: green;*/
}

.upload-modify .form-div .form-img img {
    width: 400px;
    height: 400px;
}

/* 按钮样式 */
.upload-modify .form-btn button {
    margin-top: 15px;
    margin-left: auto;
    width: 120px;
    height: 35px;
    font-size: 15px;
    border-radius: 5%;
}

.upload-modify .form-btn .submit-btn:hover{
    color: #e8e6e3;
    text-decoration: underline;
}